body{
    font-family: 'Roboto Slab', serif;
}
th{
    font-size: 13px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(216, 31, 31);
}
.title{
    font-size: 15px;
    color:black;
    

}
a{
    text-decoration: none;
}

input{
    border: 2px solid rgb(211, 194, 194);
  border-radius: 12px;
}
h1{
    font-family: 'Pattaya', sans-serif;
}