<ng-container *ngIf="video">
    <div class="container-fluid">
        <div class="row d-flex">
         <a href="https://www.youtube.com/watch?v={{video.id}}" class="col-12   mt-2">
            <img  [src]="video.snippet.thumbnails.maxres.url">
        </a>
        </div>
        <br>
        <div class="row d-flex">
            <div class="col-9 title"> {{video.snippet.title}}</div>
           
            <button class="btn btn-danger col-sm-8 col-md-6 col-lg-2 "  data-toggle="modal" data-target="#myModal">Add to Favorites</button> 
        </div>
        <hr>
        <!-- ******************Rating******************* -->
        <div class="row d-flex">
            <h5 class="ml-2">Rate now : </h5>
            <div class="  col-lg-2">
                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </div>

            <div > <h5>Duration:</h5></div>
            <div class="col-sm-8 col-md-6 col-lg-4"> {{video.contentDetails.duration}}
            </div>
            <div class="col-sm-8 col-md-6 col-lg-2"><i class="fas fa-eye"></i> {{video.statistics.viewCount}}</div>
            <div class="col-sm-8 col-md-6 col-lg-2"><i class="fas fa-thumbs-up"></i> {{video.statistics.likeCount}}</div>
        </div>	
        
        
        <hr>
        <div class="row d-flex date">
            <h5 class="ml-2">publishedAt:</h5>
            <div class="col-sm-8 col-md-6 col-lg-2 ">{{video.snippet.publishedAt|date:'longDate'}}</div>   
        </div>
        <div>{{video.snippet.description}}</div><br><br>

        <!-- ***************************** Model to save fav in local storage****************** -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Favorites</h5>
                        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
                    </div>
                    <div class="modal-body d-flex flex-row">
                       <p>Do you want to add this video in favorite?</p>
                      
                    </div>
                       <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#my2Modal" data-dismiss="modal" (click)="addToFavorite()">Add</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                      </div>
                  
                </div>
            </div>
        </div>
          <!-- **************Modal to view fav video************** -->
      <div class="modal fade" id="my2Modal" role="dialog">
         <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"> Successfully Added.</h5>
                <button type="button" class="close" data-dismiss="modal">
                &times;
                </button>
              </div>
            <div class="modal-body" >
                <div class="d-flex flex-row justify-content-between" *ngFor="let item of favList ">
                    
                    <a href="https://www.youtube.com/watch?v={{item.vd.id}}">
                        <img id="modImage" [src]="item.vd.snippet.thumbnails.medium.url">
                    </a>
                    <h6 class="col-7">{{item.vd.snippet.title}}</h6>
                    <h5 class="col-4" id="rate"><i class="fas fa-star"></i> {{item.rate}}</h5>
                </div>

             </div>
               <div class="modal-footer">
         
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
              </div>
          
           </div>
       </div>
  </div>
</div>
        
</ng-container>
